
.home-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
  
  }
  
  .fieldset-div {
    background-color: #54a1e4;
    border-radius: 1em;
    border-width: 5px;
    border-style: solid;
  }
  
  .fieldset-div legend {
    font-size: x-large;

    color: #FFB81C;
    text-shadow: #000 0px 0px 2px;

    font-family: "Lobster", serif;
    font-weight:bolder;
  }
  
  .fieldset p {
    font-size: large;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mission-div {
    background-color: #54a1e4;
    border-radius: 2em;
    padding: 1em;
  }

  .mission-div  h2{
    font-family: "Lobster", serif;
    color: #FFB81C;
    text-shadow: #000 0px 0px 2px;
  }
  
  .mission-div p {
  
    font-size: x-large;
  
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
  }
  